
.main{

	font-family: Roboto;
	color: darkslategray;
	padding: 20px;
	width: 50%;
	background: ;
	margin: auto;

}
.todo{
	border: 1px solid black;
	width: 50%;
	margin: auto;
}
input{
 	 border: 1px solid black;
  	padding: 12px 20px;
  	margin: 8px ;
}
button{
	border: 1px solid #ccc;
  	border-radius: 5px;
  	padding: 12px 12px;
  	margin: 8px ;
}
button:hover{
	color: #000000;
	background: #ffffff;
}
